.title {
  padding-top:3vh;
  padding-bottom:3vh;
  margin-left:20vw;
  margin-right:20vw;
  text-align:center;
  text-shadow: black  0px 3px;
  font-weight: bolder;
}

.content {
  margin-left:20vw; 
  margin-right:20vw;
  height:min-content;
}

.scroll {
  overflow-y:scroll;
  height:60vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

.column {
  float: left;
  height:fit-content;
}

.side {
  width: 40%;
}

.middle {
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  height:fit-content;
}

.small-text {
  font-size: smaller;
}

select {
  width: 100%;
}

option {
  /* wrap text in compatible browsers */
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  /* hide text that can't wrap with an ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  /* add border after every option */
  border-bottom: 1px solid #000000;
}