.editor_container {
    background-color: white;
    color: black;
}

.editor_toolbar {
    background-color: rgb(202, 202, 202);
}

.quill_editor {
    background-color: rgb(202, 202, 202);
    color: black;
}

.filter_button {
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
}

