.navOption {
  width: 180px;
  height: 180px;
  background: rgb(223, 219, 219);
  border: 1px solid black;
  display: inline-flex;
  
  
}


.navTitle{

  text-align: center;
}

.title{

text-align: center;

}

.squareGrid{

align-content: center;
}

.button_format{
  padding: 100px;
}