.filter_button {
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
}

.email_table {
    max-height:50vh;
    max-width:80vw;
    overflow: scroll;
}

table{
	border-collapse:collapse;  
}
table tr td, th{
	border:1px solid #ccc;
  	padding:5px;
}
table tr:hover{  
    background: #f1f1f1;
}

.email_metadata{
    text-align:left;
}

.selected_email{
    text-align: left;
}

.editor_container {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    color: black;
    height:fit-content
}